.footer{
    width: 100%;
    min-height: 60px;
    background-color: var(--primary-black-color);
}
.footer-container{
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.footer-band-link{
    color: var(--primary-white-color);
    font-size: 10px;
}
.footer-brand-link-span{
    color: var(--primary-white-color);
    font-size: 10px;
    text-decoration: underline
}

.footer-text{
   color: var(--primary-white-color);
    font-size: 10px; 
}
.footer-settings{
    position: absolute;
    bottom: 0;
}