.result-messages-section{
   /* padding: 20px 0px; */
}

.result-div-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    height: 550px; /* Тут высота auto для всего блока */
    border: 2px solid var(--primary-black-color);
    border-radius: 20px;
}

.result-div-title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    font-size: 16px;
    
}

.result {
    width: 100%;
    height: 335px; /* Высота контейнера для вывода информации (Логов) пользователю */
    border: 1px solid var(--noactive-black-color);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    overflow-y: auto; /* Для прокрутки */
    background-color: #fafafa; 
}

.result .log-message {
    font-size: 14px;
    color: #333;
}

.result .highlight {
    color: #007bff;
    font-weight: bold;
}

.result .error {
    color: #e74c3c;
    font-weight: bold;
}

.result .success {
    color: #2ecc71;
    font-weight: bold;
}

.result .info {
    color: #f39c12;
}

.result .separator {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.clear-logs-button{
    width: calc((100% - 50px) / 2);
    height: 32px;
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;

}