
.settings-section{
    padding-top: 20px;

}

.settings-input {
    display:block;
    padding: 0px;
    padding-left: 10px;
    width: calc(100% - 10px);
    height: 32px;
    border: 1px solid var(--primary-black-color);
    border-radius: 5px;
    background-color: var(--primary-white-color);
}

.settings-title{
    margin: 0 auto;
    margin-bottom: 20px;
}

.settings-platform-label{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 4px;
}

.settings-input-label{
    font-size: 10px;
    font-weight: 600;;
}
.settings-buttons {
    display: flex;
    justify-content: space-between;
}

.settings-btn{
    width: calc((100% - 50px) / 2);
    height: 32px;
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
}

.settings-section{
    margin-bottom: 20px;
    
}
.settings-api-key-section{
    display: flex;
    width:100%;
    flex-direction: column;
    gap:4px;
    margin-bottom: 20px;

}
.settings-secret-key-section{
    display: flex;
    width:100%;
    flex-direction: column;
    gap:4px;
    margin-bottom: 20px;
}
/*
.result-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--primary-black-color);
    opacity: 0;
    transition: .5s;
    text-align: center;
}
*/